<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Analyzer</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='student.css') }}">
 <!-- <link href="../static/student.css" rel="stylesheet" />-->
</head>
<body>
    <div id="animation-container">
        <h1>Answer Analyzer</h1>
        <form method="post">
            <label for="answer">Question:{{question}}</label>
            <textarea id="answer" name="answer" rows="4"></textarea><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
